    


    body {
        background: #efefef;
        background-size: cover;
        font-family: "Lucida Grande",Arial,Verdana,sans-serif;
        position: static;
        color: #002F2F;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }    

    p {
        font-size: 18px;
    }
    #header{
        padding-left: 100px;
        padding-top: 200px;
        position: absolute;
        width: 100%;
        height: 110%;
        z-index: 10;
    }

    #container{
    }

    #construction{
        z-index: -1;
    }


    #links{
        width: 40px;
        height: 40px;
    }

