    


    body {
        background: #efefef;
        background-size: cover;
        font-family: "Lucida Grande",Arial,Verdana,sans-serif;
        width: 100%;
        height: 100%;
        color: #002F2F;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }    

    p {
        font-size: 18px;
    }
    #header{
        padding-left: 100px;
        padding-top: 200px;
        position: absolute;
        z-index: 10;
    }

    #container{
        position: relative;
    }

    #construction{
/*        width: 100%;
        height: 110%;*/
    }


